html {
    display: table;
    margin: auto;
}

body {
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

#canvasArea {
    resize: none;
    overflow: hidden;
    max-width: none;
    word-wrap: normal;
    width: 605px;
    height: 660px;
    margin-top: 10px;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-size: 10px;
}

#imgCanvas {
    border-color: black;
    border-style:solid;
    width: 100px;
    height: 60px;
}

.whSetter {
    width: 36px;
}
